<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yggdrasil AI</title>

    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
<!-- Header 를 replace 함 -->
<div th:replace="header :: header"></div>

<main>
    <h1>Search</h1>
</main>

<script src="/js/search.js"></script>
</body>
</html>